.popup {
    display: none;
    border-radius: 5px;

    &.show {
        display: block;
    }
}

.popup-fade {
    &::before {
        content: '';
        position: fixed;
        width: 100%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.popup-contact__subtitle {
    line-height: 22px;
}

.popup__wrap {
    position: fixed;
    width: 440px;
    height: 415px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    z-index: 10;
}

.popup-contact__text {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup-contact__form {
    margin: 0;

    .contact-form__label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 15px;
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    .contact-form__input {
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 14px 0 14px 20px;
        margin-top: 6px;

        & {
            font-size: 16px;
            line-height: 20px;
            color: #212121;
        }

        &::placeholder {
            color: rgba(33, 33, 33, 0.6);
        }

        &.error {
            border-color: firebrick;
        }
    
        &.success {
            border-color: green;
        }
    }

    .form__button {
        width: 184px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
        color: #E4E9FA;
    }
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -3px;
        width: 25px;
        height: 1px;
        background-color: #868686;
    }

    &::before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}