.popup-application {
    
    .popup__wrap {
        padding-top: 40px;
        padding-left: 40px;
        overflow: hidden;
        
        &::before {
            content: "";
            position: absolute;
            width: 440px;
            height: 415px;
            background-color: #2550DA;
            mask: url('../images/Vector.svg') no-repeat -2px 31px;
            mask-size: cover;
            top: 0;
            left: 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 154px;
            height: 244px;
            background: url('../images/rocket.svg') no-repeat -2px 31px;
            background-size: contain;
            top: 153px;
            left: 150px;
            animation: 2.5s 0.3s fly;
        }
    }
}

@keyframes fly {
    from { 
        left: 150px;
     }
    to {
        top: -500px;
        left: 500px; 
    }
}