.responsive {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.responsive__wrapper {
    width: 355px;
    margin-top: 71px;

    @media screen and (max-width: 1024px) {
        width: 300px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 80px;
    }

    @media screen and (max-width: 425px) {
        flex-direction: column;
        margin: 0;
    }
}

.responsive__title {
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
        white-space: normal;
    }
}

.responsive__text {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    color: #3B3D52;

    @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
    }

    @media screen and (max-width: 425px) {
        font-size: 16px;
        line-height: 20px;
    }
}

//responsive image

.responsive__image-wrap {
    width: 530px;
    height: 412.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(174, 197, 255, 0.7);
    border-radius: 5px;

    @media screen and (max-width: 1024px) {
        width: 499px;
        height: 388.66px;
    }

    @media screen and (max-width: 768px) {
        order: 3;
    }

    @media screen and (max-width: 425px) {
        width: 320px;
        height: 249px;
    }
}

.responsive__image {
    display: none;

    @media screen and (max-width: 1024px) {
        width: 442px;
        height: 254px;
    }

    @media screen and (max-width: 425px) {
        width: 283.94px;
        height: 163px;
    }
}

.responsive__image.active {
    display: block;
}

//responsive list

.responsive__wrap {
    margin-top: 71px;

    @media screen and (max-width: 1024px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        margin-top: 80px;
        order: 2;
    }

    @media screen and (max-width: 570px) {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.responsive__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;

    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
}

.responsive__item {
    margin-bottom: 20px;

    &:last-of-type {
        margin: 0;
    }

    @media screen and (max-width: 570px) {
        margin: 0;
    }

    &:not(:last-of-type) {
        @media screen and (max-width: 570px) {
            margin-right: 20px;
        }
    }

    &:nth-last-of-type(2) {
        margin: 0;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 425px) {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
}

.responsive__item--laptop {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.responsive__item--fullhd {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.responsive__link {
    text-decoration: none;
    color: #000;
    opacity: 0.5;

    @media screen and (max-width: 768px) {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    @media screen and (max-width: 425px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.responsive__link.active {
    color: #2550DA;
    opacity: 1;
}