@import "./fonts.scss";
@import "./global.scss";
@import "./header.scss";
@import "./presentation.scss";
@import "./include.scss";
@import "./types.scss";
@import "./portfolio.scss";
@import "./advantages.scss";
@import "./responsive.scss";
@import "./about-us.scss";
@import "./clients.scss";
@import "./form-filter.scss";
@import "./process.scss";
@import "./results.scss";
@import "./order.scss";
@import "./footer.scss";

@import "./price.scss";

$color-black: #000000;
$color-grey: #E4E9FA;
$color-white: #FFFFFF;
$color-priyatniy_blue: #2550DA;
$color-darkblue: #3B3D52;
$color-yellow: #D8DA25;
$color-orange: #FFB806;