footer.main-footer
    .copyright
        p.copyright__text.copyright__text--company ООО “Ра-Студио”
        p.copyright__text.copyright__text--ogrn ОГРН: 244657646345
        p.copyright__text.copyright__text--inn ИНН: 24465764
    .contacts
        a.contacts__link.contacts__link--email(href="#") design@ra-studio.ru
        a.contacts__link.contacts__link--tel(href="tel:+78126112333") +7 (812) 611-2-333