header.header
    .header__container.container
        a(href="#").header__logo
            img(src="app/images/logo.svg" alt="Логотип компании RA Studio").header__img
        nav.header__nav
            ul.header__list.header-list
                li.header-list__item
                    a.header-list__link(href="#") Проекты
                li.header-list__item
                    a.header-list__link(href="#") О нас
                li.header-list__item
                    a.header-list__link(href="#") Наши клиенты

        .header__wrap
            button(type="button").header__button.button Получить консультацию

        button(type="button").header__toggle
            span.visually-hidden Открыть меню