.popup-application.popup
    .popup-application__fade.popup-fade
        section.popup__wrap
            h2.popup-application__subtitle.subtitle Спасибо за вашу заявку!
            button(type="button").popup-application__close-btn.popup-close
