block variables

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title RA Studio
        link(rel="stylesheet" href="app/styles/styles.min.css")
    
    body
        include common/header.pug

        block content

        include common/footer.pug

        include common/popup-contact.pug
        include common/popup-application.pug

        script(src="app/scripts/imask.js")
        script(src="app/scripts/burger.js")
        script(src="app/scripts/anchors.js")
        script(src="app/scripts/type.js")
        script(src="app/scripts/responsive.js")
        script(src="app/scripts/select.js")
        script(src="app/scripts/form-error.js")

        script(src="app/scripts/popup-contact.js")
        //script(src="app/scripts/popup-application.js")